<div id="<%= dom_id announcement %>">
  <p class="my-5">
    <h2 class="font-bold text-2xl text-gray-900"><%= announcement.title %></h2>
  </p>

  <p class="my-5">
    <%= announcement.body %>
  </p>
</div>
